<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style_one.css" %}">
  </head>

  <body>

    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary">Go back</a>

        <br><br><br>
        <div class="fh">
        <div class="container form">
          <h1 class="tr"></h1>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 shadow-lg p-3 mb-5 bg-white rounded">
          <form class="form-group" action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary">SEARCH</button>
          </form></div>
          <div class="col-md-3"></div>
        </div>
        </div>

        {% block content %}
          <div class="hotel">
          <div class="container">
        {% for i in hotel %}

            {% if availability == "available" %}
            <a class="ht" href='/userhotel/{{ i.hotel_name }}/{{ date }}/{{ roomreq }}'>
            <div class="row shadow-lg p-3 mt-5 mb-5 rounded">
              <div class="col-md-4 ">
                <img class="h-img shadow-lg" src="{{ i.image1.url }}" alt="image">
              </div>
              <div class="col-md-8">
                <p class="roomrem">Available Rooms: {{ roomrem }}</p>
                <p class="h-name">{{i.hotel_name}}</p>
                <p class="h-add">{{i.hotel_address}}.<br>{{ i.dist_from_airport }} KM from nearest airport.</p>
                <p class="h-price">{{ price }}*</p>
                <p class="h-pricex">/night</p>
                <p class="h-am">{{ i.amenities}}</p>

                <div class="h-rate">
                {% with ''|center:i.hotel_rating as range %}
                  {% for _ in range %}
                      ★
                  {% endfor %}
                {% endwith %}
                </div>

              </div>
            </div>
            <h1 class="fff">BOOK</h1>
            </a>
            <div>
              <a href="{% url 'hotel_detail' pk=i.pk %}" class="ht">
                <button class="btn btn-primary">VIEW HOTEL PAGE</button>
                </a>
            </div>

            {% endif %}
            {% if availability == "unavailable" %}
            <h1 class="fffu">BOOKED</h1>
            <div class="row shadow-lg p-3 mt-5 mb-5 rounded">
              <div class="col-md-4 ">
                <img class="h-img shadow-lg" src="{{ i.image1.url }}" alt="image">
              </div>
              <div class="col-md-8">
                <p class="roomremu">Available Rooms: {{ roomrem }}</p>
                <p class="h-name">{{i.hotel_name}}</p>
                <p class="h-add">{{i.hotel_address}}.<br>{{ i.dist_from_airport }} KM from nearest airport.</p>
                <p class="h-price">{{ price }}*</p>
                <p class="h-pricex">/night</p>
                <p class="h-am">{{ i.amenities}}</p>
                <div class="h-rate">
                {% with ''|center:i.hotel_rating as range %}
                  {% for _ in range %}
                      ★
                  {% endfor %}
                {% endwith %}
                </div>
              </div>
            </div>
            {% endif %}


        {% endfor %}
            </div>
          </div>
    <br>


{% endblock %}

 </div>
